:root {
  --color-background: #111;
  --color-text-subtle: #999;
  --color-text: #eee;
  --font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
}
html {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.flex {
  display: flex;
  margin-left: 0.5rem;
  justify-content: flex-end;
}

.number {
  font-size: 5rem;
}

.title {
  margin-top: 3rem;
  margin-left: 0.5rem;
  font-size: 2rem;
  color: var(--color-text-subtle);
}

input {
  height: 10rem;
  background: var(--color-background);
  border: 1px transparent;
  border-radius: 1rem;
  outline: none;
  padding: 1rem;
  font-size: 8rem;
  width: 100%;
}

::placeholder {
  color: var(--color-text);
  opacity: 1; /* Firefox */
}
