:root {
  --color-background: #111;
  --color-text-subtle: #999;
  --color-text: #eee;
}
html {
  background-color: var(--color-background);
  color: var(--color-text);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.number {
  font-size: 5rem;
  margin: 0 0.5rem;
}

.title {
  margin-top: 3rem;
  margin-left: 0.5rem;
  font-size: 2rem;
  color: var(--color-text-subtle);
}

input {
  height: 10rem;
  background: var(--color-background);
  border: 1px transparent;
  border-radius: 1rem;
  outline: none;
  padding: 1rem;
  font-size: 8rem;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

::placeholder {
  color: var(--color-text);
  opacity: 1; /* Firefox */
}
