#clock-background {
  margin-top: 2%;
  height: 100%;
  background-color: #11151D;
  padding: 20px;
}

#number-container {
  width: 100%;
}

#clock {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  letter-spacing: 5px;
  color: #ccc;
  text-align: center;
}

#days {
  color: #ccc;
  width: 100%;
}

ul {
  font-family:"OverpassMono", monospace;
  text-align: center;
}

li {
  display: inline;
  color: #575f6a;
}

.today {
  color: white;
}
