* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    color: #ccc7c7;
    background: #252525;
    box-sizing: border-box;
}

h1 {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    padding: 5px;
    margin: 15% auto 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin: 2% auto 0;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    background: #000000;
}

body:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right,  #4d163d, #840037, #BD0034, #FDB731, #BD0034,#4D163D, #840037);
    background-size: 500% auto;
    -webkit-animation: gradient 3s linear infinite;
    animation: gradient 3s linear infinite;

}


.webflow-style-input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #4D163D, #840037, #BD0034, #FDB731, #BD0034,#4D163D, #840037);
    background-size: 500% auto;
    -webkit-animation: gradient 3s linear infinite;
    animation: gradient 3s linear infinite;
}

.webflow-style-input input {
    margin: 0;
    border-style: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 42px;
    flex-grow: 1;
    color: #fff;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
    animation-delay: -1s;
}

.text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
