* {
	padding: 0;
	margin: 0 auto;
	font-family:  'Helvetica';
}

body {
	width:100%;
	background-color: #2B292E;
	color: #ccc;
	font-family:  'Raleway';
}

input {
	width: 50%;
	padding: 1%;
	font-size: 42px;
	color: #fff;
	margin: 3% 0 0 25%;
	margin-bottom: 20px;
	background-color: #aaa;
	border: 0px;
	border-radius: 10px;
}
img{
	width: 100%;
	height: 50%;
}
div{
	padding: 5px;
	font-size: 20px;
	margin: 0 25%;
}
#time{
	margin-top: 3%;
	text-align: center;
	font-size: 80px;
}
#date, #day{
	text-align: center;
	font-size: 40px;
}
